# **Basics of Python**
Python is both a programming language (with syntax rules for writing what is considered valid Python code) and interpreter software that reads and executes source code written in the Python language. Python is not named after the snake, but after the strange British comedy troupe Monty Python. 

# **What is programming?**
Programming is the process of systematically organising activities in order to obtain useful information. There are two important things in programming code and the data.

#**Hello World**
The famous output to start all the languages

In [ ]:
print("Hello World")

In [ ]:
print("welcome","to","python")

In [ ]:
print("welcome","to","python" ,sep="\n")

In [ ]:
print("welcome to python" ,sep="\n")

In [ ]:
print("welcome",3+4,"to",11*2)

In [ ]:
print("welcome")
print("")
print("to Python")

In [ ]:
print("Welocme \n to IDI")

In [ ]:
print("Welocme \t to IDI")

In [ ]:

print("Welcome")
print("To IDI")

#output on the same line

In [ ]:
print("Welcome", end="")
print("To IDI")

In [ ]:
print("Welcome", end=" ")
print("To IDI")

In [ ]:
s=5+6
p=5*6
d=5/6
print("Sum =%d \n Product=%d \n Division = %d",s,p,d)

In [ ]:
s=5+6
p=5*6
d=5/6
print("Sum =%d \n Product=%d \n Division = %d" % (s,p,d))

In [ ]:
s=5+6
p=5*6
d=5/6
print("Sum =%d \n Product=%d \n Division = %f" % (s,p,d))

In [ ]:
s=5000+60
p=5000*60
d=5/6
print("Sum =%d \n Product=%d \n Division = %f" % (s,p,d))

In [ ]:
s=5000+60
p=5000*60
d=5/6
print("Sum =%d \n Product=%d \n Division = %2.2f" % (s,p,d))

In [ ]:
s=5000+60
p=5000*60
d=5/6
print("Sum ={0:d} \n Product={1:d} \n Division = {2:2.2f}".format(s,p,d))

In [ ]:
s=5000+60
p=5000*60
d=5/6
print("Sum ={0:d} \n Product={2:f} \n Division = {1:2.2f}".format(s,p,d))

# **Input**

In [ ]:
a=input("Enter your name ")
print(a)

In [ ]:
a=input("Enter a number")
b=input("Enter second number")
s=a+b
print("{0:s}".format(s))

In [ ]:
a=input("Enter a number")
b=input("Enter second number")
s=int(a)+int(b)
print(s)

In [ ]:
2+2

# **Operator Precendence**

1. Exponent 2 ** 3= 8
2. Modulus/remainder 22 % 8 = 6
3. Integer division/floored quotient 22 // 8 = 2
4. Division 22 / 8 = 2.75
5. Multiplication 3 * 5 15
6. Subtraction 5 - 2 3
7. Addition 2 + 2 4

In [ ]:
 (5 - 1) * ((7 + 1) / (3 - 1))

# **Functions**

**len()**

Returns number of characters in a string

In [ ]:
txt="Hi! what are you doing?"
l = len(txt)
print(l)

# **Concatenating two strings**

You can add string joins by simply using a + sign 

You can use .join also to join the strings

In [ ]:
S1="The parrots are lovely"
S2="We must have them"
S3=S1+S2
print(S3)

In [ ]:
S1="The parrots are lovely"
S2="We must have them"
S3=S1+" "+S2
print(S3)

In [ ]:
S3=S1.join(S2)
print(S3)

In [ ]:
S3=(S1,S2)
S4 = "".join(S3)
print(S4)

In [ ]:
S3=(S1,S2)
S4 = " ".join(S3)
print(S4)

In [ ]:
S3=(S1,S2)
S4 = " # ".join(S3)
print(S4)

In [ ]:
print(type(S3))

# **Conditional Statements**

If, else, elif

# **Comparitive operators**
Opeartor
1. '=='	(a == b)	Equal to
2. '!='	(a != b)	Not equal to
3. '<'	(a < b)	Less than
4. '<='	(a <= b)	Less than or equal to
5. '>'	(a > b)	Greater than
6. '>='	(a >= b)	Greater than or equal to

# **Logical Expressions**
Operator   Example
not	       not x

or	       x or y

and	       x and y

In [ ]:
a= int(input("enter a number"))
b=int(input("enter second number"))
if a>b:
  print(a, "is greater")
else:
  print(b, "is greater")

# **Logical Operators**

and
or
not

# **Conditional Opeartors**

> greater than
< less than
>= greater than equal to
<= less than equal to
== equal to

In [ ]:
a= int(input("enter a number"))
b=int(input("enter second number"))
c=int(input("Enter third number"))
if a>b and b>c:
  print(a, "is greater")
elif b>c:
  print(b, "is greater")
else:
    print(c, "is greater")

In [ ]:
import keyword
print(keyword.kwlist)

# **Data and their Types**

![dataTypes.jpeg]()

**Number**

Integers, floating point numbers and complex numbers falls under Python numbers category. They are defined as int, float and complex class in Python.


You can use the type() function to know which class a variable or a value belongs to and the isinstance() function to check if an object belongs to a particular class.


Integers can be of any length, it is only limited by the memory available.


**List**
List is an ordered sequence of items. It is one of the most used datatype in Python and is very flexible. All the items in a list do not need to be of the same type. Declaring a list is pretty straight forward. Items separated by commas are enclosed within brackets [ ].

In [ ]:
n=[22,21,"Hello"]
print(n)

In [ ]:
print(type(n))

In [ ]:
print(n[0])

**Tuple**

Tuple is an ordered sequence of items same as list. The only difference is that tuples are immutable. Tuples once created cannot be modified.
Tuples are used to write-protect data and are usually faster than list as it cannot change dynamically. It is defined within parentheses () where items are separated by commas.

In [ ]:
t=(1,'Hello!',3j)
print(t)

(1, 'Hello!', 3j)

In [ ]:
print(type(t))

<class 'tuple'>

In [ ]:
print(t[2])

3j

In [ ]:
tt=t[2]
print(type(tt))

<class 'complex'>

In [ ]:
tt=t[0]
print(type(tt))

<class 'int'>

In [ ]:
tt=t[1]
print(type(tt))

<class 'str'>

In [ ]:
n=2.678
print(n)
print(type(n))

2.678
<class 'float'>

In [ ]:
n=int(n)
print(n)
print(type(n))

2
<class 'int'>

# **Strings**

String is sequence of Unicode characters. We can use single quotes or double quotes to represent strings. Multi-line strings can be denoted using triple quotes, ''' or """.

# **Set**
Set is an unordered collection of unique items. Set is defined by values separated by comma inside braces { }. Items in a set are not ordered.

In [ ]:
s="Hello"
print(s)
print(type(s))
n= {2,4,5,6,7,8,9}
print(n)
print(type(n))

Hello
<class 'str'>
{2, 4, 5, 6, 7, 8, 9}
<class 'set'>

Duplicates are automatically removed in a set.

In [ ]:
n = {1,2,3,4,5,6,4,5,6,8}
print(n)

{1, 2, 3, 4, 5, 6, 8}

# **Dictionary**

Dictionary is an unordered collection of key-value pairs.It is generally used when we have a huge amount of data. Dictionaries are optimized for retrieving data. We must know the key to retrieve the value. In Python, dictionaries are defined within braces {} with each item being a pair in the form key:value. Key and value can be of any type.

In [ ]:
n = {1: 'value' ,'key':2}
print(n)
print(type(n))

{1: 'value', 'key': 2}
<class 'dict'>

# **Mutable and Immutable Types **
When you have a variable that cannot be changed after it has been created it is called immutable, while in the opposite case, that variable is called mutable. Let's explore what that means.


I would be using id function of python to make you understand the concept more. Let us walk through some examples and observe.

# **1. Immutable data type:**
 
The variables which cannot be changed are termed as immutable data types. So, variable for which we can not change the values are immutable variables/data types/objects.

In [ ]:
V1 =[2, 6, 3]	#list 
V2=(5, 7, 8)	#tuple
print(id(V1))	#displays memory address of V1
print(id(V2))	#displays memory address of V2

140279711963568
140279659151760

In [ ]:
print(V1[0])

2

In [ ]:
V1[0]=9
print(V1)

[9, 6, 3]

In [ ]:
print(id(V1))

140279711963568

In [ ]:
V1 +=[2, 6, 3] 
V2 +=(12, 10, 9)
print(V1)
print(V2)
print(id(V1))	#displays memory address of V1
print(id(V2))	#displays memory address of V2

[9, 6, 3, 2, 6, 3]
(5, 7, 8, 12, 10, 9)
140279711963568
140279720483088

What did you observe? In the above code a set of numbers are added both in V1 and V2 but address of V1 remains the same, V2 changes. Why? The memory management of list is more robust, more efficient than of a tuple. The memory address (identity) of immutable datatypes changes that means that a new copy is created. The address of list remains the same but of tuple(V2) changes.

In [ ]:
V2=(10,12,14,15)
print(V2)
print(type(V2))
print(id(V2))

(10, 12, 14, 15)
<class 'tuple'>
140279658559248

In [ ]:
print(V2[0])

10

In [ ]:
V2[0]=9

TypeError: ignored

In [ ]:
V=[2,3,4,5,6,9]
if 4 in V:
  print("found")

found

In [ ]:
if 7 not in V:
  print("True")
else:
  print("false")

True

In [ ]:
V=[1,2,3,4,5,6,7,8,9]
for i in V:
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
print(V[0])

1

In [ ]:
print(V[-1])

9

In [ ]:
print(V[-2])

8

In [ ]:
print(V[6])

7

In [ ]:
print(V[-3])

7

In [ ]:
V=[1,2,4.5,3.21,"Hello","##",9]
print(V)

[1, 2, 4.5, 3.21, 'Hello', '##', 9]

In [ ]:
for i in V:
  print(i)

1
2
4.5
3.21
Hello
##
9

In [ ]:
for i in V:
  print(i, end=",")

1,2,4.5,3.21,Hello,##,9,

In [ ]:
for i in V:
  print(i, type(i))

1 <class 'int'>
2 <class 'int'>
4.5 <class 'float'>
3.21 <class 'float'>
Hello <class 'str'>
## <class 'str'>
9 <class 'int'>

In [ ]:
print("hello")
print("Hi!")

hello
Hi!

In [ ]:
V=range(0,100,1)
print(V)

range(0, 100)

In [ ]:
for i in V:
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
for i in range(0,100,2):
  print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [ ]:
for i in range(100,0,-2):
  print(i)

100
98
96
94
92
90
88
86
84
82
80
78
76
74
72
70
68
66
64
62
60
58
56
54
52
50
48
46
44
42
40
38
36
34
32
30
28
26
24
22
20
18
16
14
12
10
8
6
4
2

In [ ]:
V=[3,4,5,6,7,8,9,10,12,13,14]
n=int(input("Enter a number "))
flag=0
for i in V:
  if i==n:
    print("found")
    flag=1
    break
if flag==0:
  print("Not found")

Enter a number 10
found

In [ ]:
A=0
B=1
C=20

if A:
  print(A)
if B:
  print(B)
if C:
  print(C)

1
20

In [ ]:
print(A)

0

In [ ]:
s=['foot','ball','cricket','ticket','wicket']
print(s)

['foot', 'ball', 'cricket', 'ticket', 'wicket']

In [ ]:
if 'ball' in s:
  print("Found")
  print("done")

Found
done

In [ ]:
c='a'
print(c)
print(type(c))

a
<class 'str'>

#1. WAP to find the quotient and remainder of x divided by y where, x=15, y=6.

In [ ]:
x=15
y=6
r=x%y
print(r)
q=x/y
print(int(q))

3
2