<a href="https://colab.research.google.com/github/anujsaxena/Python/blob/main/pipe_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pipes**

Pipe is a Python library that enables you to use pipes in Python. A pipe (|) passes the results of one method to another method.

In [1]:
ar = [1,3,4,5,6,7,8,19,22,21,23,34]
l = list(map(lambda x:x*2, filter(lambda x:x%2==0, ar)))
print(l)

[8, 12, 16, 44, 68]

In [3]:
!pip install pipe

Collecting pipe
  Downloading pipe-1.6.0-py2.py3-none-any.whl (6.8 kB)
Installing collected packages: pipe
Successfully installed pipe-1.6.0

In [5]:
from pipe import select, where
ar = [1,3,4,5,6,7,8,19,22,21,23,34]
l = list(ar | where(lambda x:x%2==0)
| select(lambda x:x*2))
print(l)

[8, 12, 16, 44, 68]

# **where**
Pipe’s where method can also be used to filter elements in an iterable.

In [6]:
ar = [1,3,4,5,6,7,8,19,22,21,23,34]
l = list(ar | where(lambda x:x%2==0))
print(l)

[4, 6, 8, 22, 34]

# **select**
The select method is similar to the map method. select applies a method to each element of an iterable.

In [7]:
ar = [1,3,4,5,6,7,8,19,22,21,23,34]
l = list(ar | select(lambda x:x*2))
print(l)

[2, 6, 8, 10, 12, 14, 16, 38, 44, 42, 46, 68]

# **Why we need where/select**

It is because you can insert one method after another method using pipes. As a result, using pipes removes nested parentheses and makes the code more readable.

# **Unfold Iterables**

chain — Chain a Sequence of Iterables
It can be a pain to work with a nested iterable. Luckily, you can use chain to chain a sequence of iterables.

In [8]:
ar = [[1,2,[3]],[4,5]]
print(ar)

[[1, 2, [3]], [4, 5]]

In [9]:
from pipe import chain

l= list(ar|chain)
print(l)

[1, 2, [3], 4, 5]

# **Traverse — Recursively Unfold Iterables**
The traverse method can be used to recursively unfold iterables. Thus, you can use this method to turn a deeply nested list into a flat list.

In [10]:
from pipe import traverse 
ar = [[1,2,[3]],[4,5]]
l= list(ar|traverse)
print(l)

[1, 2, 3, 4, 5]

# **select**

In [11]:
from pipe import traverse, select

f = [{"fname":"Mango","price":[30,60]},
     {"fname":"Apple","price":180},
     {"fname":"Oranges","price": 60}]
print(f)

[{'fname': 'Mango', 'price': [30, 60]}, {'fname': 'Apple', 'price': 180}, {'fname': 'Oranges', 'price': 60}]

In [13]:
l = list(f |select(lambda f: f["price"])
|traverse)
print(l)

[30, 60, 180, 60]

In [14]:
l = list(f |select(lambda f: f["price"]))
print(l)

[[30, 60], 180, 60]

# **Group elements in a list**

Sometimes, it might be useful to group elements in a list using a certain function. That could be easily done with the groupby method.

In [16]:
from pipe import groupby, select

l = list(
    (2,1,3,4,5,6,7,8,6,3,2,9,10)
    | groupby(lambda x:"even" if x%2==0 else "odd")
    | select(lambda x:{x[0]:list(x[1])})
)

print(l)

[{'even': [2, 4, 6, 8, 6, 2, 10]}, {'odd': [1, 3, 5, 7, 3, 9]}]

In [17]:
from pipe import groupby, select, where

l = list(
    (2,1,3,4,5,6,7,8,6,3,2,9,10)
    | groupby(lambda x:"even" if x%2==0 else "odd")
    | select(lambda x:{x[0]:list(x[1] | where(lambda x:x>2))}
    )
)

print(l)

[{'even': [4, 6, 8, 6, 10]}, {'odd': [3, 5, 7, 3, 9]}]

In [18]:
from pipe import groupby, select, where

l = list(
    (2,1,3,4,5,6,7,8,6,3,2,9,10)
    | groupby(lambda x:"even" if x%2==0 else "odd")
    | select(lambda x:{x[0]:list(x[1] | where(lambda x:x>3))}
    )
)

print(l)

[{'even': [4, 6, 8, 6, 10]}, {'odd': [5, 7, 9]}]

In [20]:
from pipe import groupby, select, where

l = list(
    (2,1,3,4,5,6,7,8,6,3,2,9,10)
    | groupby(lambda x:"even" if x%2==0 else "odd")
    | select(lambda x:{x[0]:list(x[1] | where(lambda x:x!=6))}
    )
)

print(l)

[{'even': [2, 4, 8, 2, 10]}, {'odd': [1, 3, 5, 7, 3, 9]}]

# **dedup — Deduplicate Values Using a Key**
The dedup method removes duplicates in a list.

In [22]:
from pipe import dedup
ar = [1,3,4,5,6,7,8,1,2,4,34,19,22,21,23,34]
l = list(ar|dedup)
print(l)

[1, 3, 4, 5, 6, 7, 8, 2, 34, 19, 22, 21, 23]

In [23]:
from pipe import dedup
ar = [1,3,4,5,6,7,8,1,2,4,34,19,22,21,23,34]
l = list(ar|dedup(lambda x:x>5))
print(l)

[1, 6]

In [24]:
from pipe import dedup
ar = [1,3,4,5,6,7,8,1,2,4,34,19,22,21,23,34]
l = list(ar|dedup(lambda x:x<5))
print(l)

[1, 5]

In [32]:
from pipe import dedup, select, where

f = [{"fname":"Mango","price":None},
     {"fname":"Apple","price":180},
     {"fname":"Oranges","price": 60},
     {"fname":"Oranges","price": 160},
     {"fname":"Apple","price":80}]
l = list(f 
         | dedup(key=lambda f:f["fname"])
         | select(lambda f:f["price"])
         | where(lambda price: isinstance(price, int))
         )
print(l)

[180, 60]