<a href="https://colab.research.google.com/github/anujsaxena/Python/blob/main/pipe_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pipe in Python**

Pipe is a Python library that enables you to use pipes in Python. A pipe (|) passes the results of one method to another method.

In python we hgave map and filter functions also but pipe is cleaner. Let us look at lambda, map, and filter first.

# **Lambda**
Python Lambda Functions are anonymous function means that the function is without a name. As we already know that the def keyword is used to define a normal function in Python. Similarly, the lambda keyword is used to define an anonymous function in Python. 

**Syntax**
lambda arguments: expression

1. This function can have any number of arguments but only one expression, which is evaluated and returned.
2. One is free to use lambda functions wherever function objects are required.
3. You need to keep in your knowledge that lambda functions are syntactically restricted to a single expression.
4. It has various uses in particular fields of programming besides other types of expressions in functions.

Let us understand with examples

In [6]:
string ='Institute de informatica'
 
# lambda returns a function object
print(lambda string : string)

<function <lambda> at 0x7fca9c474ef0>

In [7]:
#we should call lambda to print the string

x ='Institute de informatica'
 
# lambda returns a function object
(lambda x : print(x))(x)

Institute de informatica

In [8]:
def cube(n):
  return n*n*n

cube_lambda = lambda n:n*n*n

print(cube(9))

print(cube_lambda(9))

729
729

In [13]:
tabl = [lambda n= n:n*9 for n in range(1,11)]
print(tabl)

for tb in tabl:
  print(tb())

[<function <listcomp>.<lambda> at 0x7fca98334c20>, <function <listcomp>.<lambda> at 0x7fca98334a70>, <function <listcomp>.<lambda> at 0x7fca98334d40>, <function <listcomp>.<lambda> at 0x7fca98334b90>, <function <listcomp>.<lambda> at 0x7fca98334830>, <function <listcomp>.<lambda> at 0x7fca982c5050>, <function <listcomp>.<lambda> at 0x7fca982c50e0>, <function <listcomp>.<lambda> at 0x7fca982c5170>, <function <listcomp>.<lambda> at 0x7fca982c5200>, <function <listcomp>.<lambda> at 0x7fca982c5290>]
9
18
27
36
45
54
63
72
81
90

In [17]:
#List Comprehension
S = [x**2 for x in range(10)]
print(S)
V = [2**i for i in range(13)]
print(V)

E = [x for x in S if x % 2 == 0]
print(type(E))
print(E)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096]
<class 'list'>
[0, 4, 16, 36, 64]

Let us have a look at one more example to compare a normal loop and List comprehension

In [2]:
num =[1,3,2,6,5,11,14,13,12,17,6,18,20,54,65,78,98] #declare a list of numbers or take random numbers
even_list =[] #create an empty list

for n in num:
  if n%2 ==0:
    even_list.append(n)

print(even_list)

[2, 6, 14, 12, 6, 18, 20, 54, 78, 98]

Now use List comprehension to do the above

In [3]:
even_list =[n for n in num if n%2==0]
print(even_list)

[2, 6, 14, 12, 6, 18, 20, 54, 78, 98]

In [18]:
max = lambda a, b : a if(a > b) else b

print(max(6,7))

7

# **Map**

map() function returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple etc.)

**Syntax**:

map(fun, iter)

In [22]:
def addition(n):
  return n+n

n =(2,4,6,8,10)
r = map(addition, n)
print(list(r))

[4, 8, 12, 16, 20]

In [23]:
n =(2,4,6,8,10)
r = map(lambda n: n+n, n)
print(list(r))

[4, 8, 12, 16, 20]

In [24]:
n =(2,4,6,8,10)
m = (1,2,3,4,5)
r = map(lambda a,b: a+b, n,m)
print(list(r))

[3, 6, 9, 12, 15]

In [26]:
l= ["rat", "bat", "mat", "sat"]
t = list(map(list, l))
print(t)

[['r', 'a', 't'], ['b', 'a', 't'], ['m', 'a', 't'], ['s', 'a', 't']]

# **filter**

The filter() method filters the given sequence with the help of a function that tests each element in the sequence to be true or not.

**Syntax**:

filter(function, sequence)

In [29]:
def vo(n):
  s = ['a','e','i','o','u']
  if n in s:
    return True
  else :
    return False

sequence =['a','b','c','d','e','f','g','h','i','j']

fil = filter(vo,sequence)

print(fil)

for t in fil:
  print(t)

<filter object at 0x7fca982d9890>
a
e
i

In [31]:
seq = [1,4,3,6,8,9,10,12]
r = filter(lambda n:n%2 !=0, seq)
print(list(r))

[1, 3, 9]

In [32]:
seq = [1,4,3,6,8,9,10,12]
r = filter(lambda n:n%2 ==0, seq)
print(list(r))

[4, 6, 8, 10, 12]